.wrapper {
	width: 1000px;
	margin: 0 auto;
	min-height: 100%;
	height: auto !important;
	height: 100%;
}
.AllClients{
	color:black;
	text-decoration: none;
}

.left-sidebar {
	float: left;
	width: 500px;
	
	
	position: relative;
	background: #ffffff;
}


/* Right Sidebar
-----------------------------------------------------------------------------*/
.right-sidebar {
	float: center;
	width: 250px;
	margin-left: -250px;
	position: relative;
	background: #FFACAA;
}
